<nav class=" navbar-expand-lg main-navbar">
  <div class="container-fluid nav-container">
    <div class="brand-menu d-flex">
        <a class="navbar-brand" href="/"><img class="navbar-img"  src="/img/logo-1.png" alt=""></a>
        <a class="navbar-brand" href="/"><img class="navbar-img"  src="/img/NEGlogotipo.png" alt=""></a>
         <ul class="navbar-nav navbar-navig">
            <li class="navitem-menu">
              <a class="{{navActive currentPath '/'}}" aria-current="page" href="/">Home</a>
            </li>
            <li class="navitem-menu ">
              {{#if currentUser}}
              <a class="{{navActive currentPath '/movies'}}" href="/movies">Movies</a>
              {{/if}}
            </li>

          </ul>
    </div>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     
    <div class="nav-container-menu" id="navbarSupportedContent">   
         <div class="navitem dropdown">
              <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-eye"></i>
              </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
        </div>
       <div class="navitem dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{#ifEq lang 'EN' }}<img class="flag-btn" src="/img/united-kingdom.png" alt="">{{/ifEq}}
                {{#ifEq lang 'ES' }}<img class="flag-btn" src="/img/spain.png" alt=""> {{/ifEq}}
              </a>
                <ul class="dropdown-menu">
                  <a class="nav-link d-flex" href="/lang/ES"><img class="flag-btn" src="/img/spain.png" alt=""><p> ES </p></a>
                  <a class="nav-link d-flex" href="/lang/EN"><img class="flag-btn" src="/img/united-kingdom.png" alt=""><p> EN </p></a>
                </ul>
        </div> 
      <form class="d-flex search-form" role="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="text-inp-search" type="search" placeholder="Search" aria-label="Search">
        <button class="text-btn-search" type="submit">Search</button>
      </form>
      
      

      <div class="logindiv {{#if currentUser}} hidden {{/if}}">
            <a href="/login"><button class="login-btn">Log in</button></a>
            <a href="/signup"><button class="signin-btn">Sign up</button></a>
        </div>

        {{#if currentUser}}
        <a class="profile-btn" href="/profile"> {{currentUser.username}} <img class="navbar-avt" style="background-color: {{currentUser.bgcolor}};" src="{{currentUser.avatar}}" alt="">  </a>
        <a class="logout-btn" href="/logout"> <i class="fa-solid fa-right-from-bracket"></i></a>
        {{/if}}
        
     
        
    </div>
  </div>
</nav>