

<section class="trending">

    <h2 class="section-titles">Most popular movies right now</h2>
    <div class="newContainer">
    <div class="slider-wrapper">
        <button class="slide-button" id="prev-slide"><i class="fa-solid fa-chevron-left"></i></button>
        <div class="image-list">
            {{#each movies as |movie|}}
                <img class="image-item" src="{{movie.image}}" alt="">
            {{/each}}
        </div>
        <button class="slide-button" id="next-slide"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>
</section>




<section class="random-movie">
    <div class="random-container">
    <h2>So, what film are we watching today?</h2>
    <form class="filters-div" action="/random-movie" method="POST">
        <div class="mb-3">
            <p class="filters-p">Genres</p>
            <select  name="genre" class="form-genre" id="inputGroupSelect01">
                <option selected>Choose genre...</option>

                
                {{#each genres as |gen|}}
                    <option value="{{gen.id}}" {{#if gen.selected}}selected{{/if}}>{{gen.name}}</option>
                {{/each}}


            </select>
        </div>
        <p class="filters-p">Valoration</p>
        <div class="stars-container">
        <div class="star-widget">
            <input type="radio" name="vote_average" id="rate-5" value="8">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="vote_average" id="rate-4" value="6.5">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="vote_average" id="rate-3" value="5">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="vote_average" id="rate-2" value="4">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="vote_average" id="rate-1" value="2">
            <label for="rate-1" class="fas fa-star"></label>
        </div>
        </div>
        <button class="random-btn" type="submit" name="action" value="viewAll">view all</button>
        <button class="random-btn" type="submit" name="action" value="random">random</button>
    </form>

    {{#if getRandom }}
        <h1>{{getRandom.title}}</h1>
        <img src="{{getRandom.image}}" alt="">
    {{/if}}
</div>
</section>















<script src="scripts/trending.js" defer></script>