<main class="catalog-main" >

    <aside class="movies-filters">
        {{> moviesPartials/aside}}
    </aside>

    <section class="movies-catalog" >   
    {{#if movies}}

            {{#if chosenGenreItem}}
                <div class="page-buttons top">
                <h2 class="catalog-h2">{{chosenGenreItem}}</h2>
                    <div class="">
                         <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{prevPage}}">Prev page</a>   
                         <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{nextPage}}">Next Page</a>
                    </div>
                </div>
            {{else}}         
                <div class="page-buttons top">
                <h2 class="catalog-h2" >All genres</h2>
                    <div class="">
                         <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{prevPage}}">Prev page</a>รง   
                         <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{nextPage}}">Next Page</a>
                    </div>
                </div>
            {{/if}}
        <div class="catalog-page">
             {{> moviesPartials/moviesRender}}
        </div>

    {{else}}

    {{#if errors}}
        <div class=" {{#if errors}}speech left speech-movies{{else}}speech-movies speech left hidden{{/if}}"> 
            {{#each errors as |error|}}
                <p><i class="fa-solid fa-circle-exclamation"></i>&nbsp;&nbsp; {{error}}</p>
            {{/each}}

        </div>
            {{> moviesPartials/notfound}}
    

    {{else}}

        {{#if favMovies}}
            {{> moviesPartials/favorites}}

            {{else}}

            {{#if chosenGenreItem}} 
            {{!-- se ha seleccionado genero pero no hay resultados --}}
                {{> moviesPartials/notfound}}

            {{else}}
                
                {{#if listMovies}}
                {{> moviesPartials/listMovies}}
                
                {{else}}

                        
                        {{> moviesPartials/homeCatalog}}
        
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}

 {{#if movies}}
 <div class="page-buttons">
    <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{prevPage}}">Prev page</a>รง    
    <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{nextPage}}">Next Page</a>รง
 </div>
{{/if}}   



    </section>

</main>


<script src="/scripts/addToListSc.js"></script>
<script src="/scripts/like.js"></script>
<script src="/scripts/createList.js"></script>
<script src="/scripts/range.js"></script>
<script src="/scripts/addToListBtn.js"></script>
<script src="/scripts/trending.js"></script>