<main class="catalog-main" >

    <aside class="movies-filters">
        
         <form id="filters-form"  class="filters-div" action="/random-movie" method="POST">


            <div class="mb-3">
                <p class="filters-p">Genres</p>
                <select  name="genre" class="form-genre {{#if error}}invalid-inp{{/if}}" id="inputGroupSelect01">
                    <option>Choose genre...</option>

                    {{#each genres as |gen|}}
                        <option value="{{gen.id}}" {{#if gen.selected}}selected{{/if}}>{{gen.name}}</option>
                    {{/each}}


                </select>
                {{#if error}} <p class="red-alert" >Select a genre</p> {{/if}}
            </div>
            <p class="filters-p">Valoration</p>
            <div class="stars-container">
                <div class="star-widget">
                    <input type="radio" name="vote_average" id="rate-5" value="8" {{#ifEq rate '8'}}checked{{/ifEq}} >
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-4" value="6.5"{{#ifEq rate '6.5'}}checked{{/ifEq}}>
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-3" value="5"{{#ifEq rate '5'}}checked{{/ifEq}}>
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-2" value="4"{{#ifEq rate '4'}}checked{{/ifEq}}>
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-1" value="2"{{#ifEq rate '2'}}checked{{/ifEq}}>
                    <label for="rate-1" class="fas fa-star"></label>
                </div>
            </div>
            <p class="filters-p">Decade</p>
            <input name="release_date" type="range" class="range-input" min="1920" max="2030" step="10" id="customRange3" value="{{#if decade}}{{decade}}{{else}}2030{{/if}}" >
             <p id="rangeValue" style="color: azure;">
               {{#ifDec decade '2030'}}{{decade}}{{else}}All decades{{/ifDec}}
                
               </p>    
            {{#if currentUser}}      
            <button class="randomform-btn viewall-btn" type="submit" name="action" value="viewAll">View all</button>
            {{else}}
            <button class="randomform-btn viewall-btn" name="action" value="viewAll"><a href="/login">View all</a></button>
            {{/if}}
            <button class="randomform-btn random-btn" type="submit" name="action" value="random">Random</button>
        </form>

        <a href="#">Your favorites</a>

        <p>Your playlists</p>
        <ul>
            <li>example</li>
            <li>example</li>
            <li>example</li>
        <button>+</button>
        </ul>

    </aside>
    <section class="movies-catalog" >
        <div class="newContainer">
            <div class="slider-wrapper">
                <button class="slide-button" id="prev-slide"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                    {{#each firstResults as |movie|}}
                        <img class="image-item" src="{{movie.image}}" alt="">
                    {{/each}}
            </div>
            <button class="slide-button" id="next-slide"><i  class=" fa-solid fa-chevron-right"></i></button>
    </div>
</div>
    </section>

</main>