<main class="catalog-main" >

    <aside class="movies-filters">
        <div class="movies-filters-div">
             <form id="filters-form"  class="filters-div-catalog" action="/movies" method="GET">

                <p class="filters-p">Genres</p>
                <select  name="genre" class="form-genre {{#if error}}invalid-inp{{/if}}" id="inputGroupSelect01">
                    <option value="" >All genres</option>

                    {{#each genres as |gen|}}
                        <option value="{{gen.id}}" {{#if gen.selected}}selected{{/if}}>{{gen.name}}</option>
                    {{/each}}
                    


                </select>
                {{#if error}} <p class="red-alert" >Select a genre</p> {{/if}}
            
            <p class="filters-p">User review</p>
            <div class="stars-container">
                <div class="star-widget">
                    <input type="radio" name="vote_average" id="rate-5" value="8" {{#ifEq rate '8'}}checked{{/ifEq}} >
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-4" value="6.5"{{#ifEq rate '6.5'}}checked{{/ifEq}}>
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-3" value="5"{{#ifEq rate '5'}}checked{{/ifEq}}>
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-2" value="4"{{#ifEq rate '4'}}checked{{/ifEq}}>
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="vote_average" id="rate-1" value="2"{{#ifEq rate '2'}}checked{{/ifEq}}>
                    <label for="rate-1" class="fas fa-star"></label>
                </div>
            </div>

           
                <p class="filters-p">Decade</p>
                <input name="release_date" type="range" class="range-input" min="1920" max="2030" step="10" id="customRange3" value="{{#if decade}}{{decade}}{{else}}2030{{/if}}" >
                <p id="rangeValue" style="color: azure;">
               {{#ifDec decade '2030'}}{{decade}}{{else}}All decades{{/ifDec}} 
               </p>    
            
                <p class="filters-p">Sort by</p>
                <select  name="sortby" class="form-genre {{#if error}}invalid-inp{{/if}}" id="inputGroupSelect01">
                    <option value="popularity" >Popularity</option>
                    <option value="release_date" >Release date</option>
                    <option value="vote_average" >User reviews</option>
                    <option value="title" >Alphabetic</option>

                    {{!-- <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="option1">Checked</label> --}}

                    

                    <div class="form-check">
                        <input value="1" class="form-check-input" type="radio" name="order" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ascendent
                        </label>
                    </div>
                    <div class="form-check">
                        <input value="-1" class="form-check-input" type="radio" name="order" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            descendent
                        </label>
                    </div>
                </select>
            
            
            
            <button class="randomform-btn viewall-btn-movies" name="action" value="viewAll">Search</button>
            
        </form >

        <form action="/favorites" method="GET" >
                    <button class="fav-link" type="submit"><i class="fa-solid fa-heart"></i> Your favorites</button>
        </form>
        </div>

        <p>
    <button class="collaps-list" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        <i class="fa-solid fa-plus"></i>
    </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse" id="collapseWidthExample">
            <form class="form-createlist" action="/new-list" method="POST">
                <div class="form-list">
                    <input placeholder="Choose name" class="input-list" name="name" type="text">
                    <button  class="create-list-btn" type="submit" >Add</button>
                </div>
            </form>
        </div>
    </div>
        

    </aside>
    <section class="movies-catalog" >

       

     {{#if movies}}

                    {{#if actualGen }}
                        <h2>{{actualGen.name}}</h2>
                    {{else}}
                        {{#if chosenGenreItem}}
                            <h2>{{chosenGenreItem}}</h2>
                        {{else}}
                            <h2>All genres</h2>
                        {{/if}}
                        
                    {{/if}}
        
        <div class="catalog-page">
             {{#each movies as |movie|}}
            
                <div class="page-results">
                    <div class="overlay d-flex flex-column">
                        {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                        <p class="overlay-title" >{{movie.title}}</p>
                        <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                        {{/each}}</p>
                        
                    </div>
                    <img class="image-item" src="{{movie.image}}" alt="">
                    
                </div>

            {{/each}}
        </div>
    {{else}}

    {{#if favMovies}}

    <h1><i class="fa-solid fa-heart"></i> Your favorites</h1>

    <div class="catalog-page">
             {{#each favMovies as |movie|}}
            
                <div class="page-results">
                    <div class="overlay d-flex flex-column">
                        {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                        <p class="overlay-title" >{{movie.title}}</p>
                        <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                        {{/each}}</p>
                        
                    </div>
                    <img class="image-item" src="{{movie.image}}" alt="">
                    
                </div>

            {{/each}}
        </div>
    


    {{else}}
    

    {{#if chosenGenreItem}}
        <div class="illu1-div d-flex flex-column">
             <img src="img/Mesa de trabajo 1333@3x.png" class="illu2" alt="">
             <div class="speech speech-nothing">
                            <h2>Seems like there is nothing around here</h2>
            </div>
         </div>
    {{else}}
        
    <h2 class="section-titles">Action</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-action"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each actionResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-action"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

        <h2 class="section-titles">Comedy</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-comedy"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each comedyResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-comedy"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

        <h2 class="section-titles">Drama</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-drama"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each dramaResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-drama"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

        <h2 class="section-titles">Documental</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-documental"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each documentalResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-documental"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

       <h2 class="section-titles">Horror</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-horror"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each horrorResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-horror"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

        <h2 class="section-titles">Thriller</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-thriller"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each thrillerResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-thriller"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

        <h2 class="section-titles">Animation</h2>
    <div class="newContainer">
        <div class="slider-wrapper">
             <div class="inter-container">
                <button class="slide-button prev-slide" id="prev-slide-animation"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                {{#each animationResult as |movie|}}
                    <div class="img-container-works">
                        <div class="overlay d-flex flex-column">
                            {{#if ../currentUser}}
                                 <button class="like-btn {{#isLiked ../currentUser.likes movie._id}}liked{{/isLiked}}" data-id="{{movie._id}}"><i class="fas fa-heart"></i></button>
                            {{/if}}
                            <p class="overlay-title">{{movie.title}}</p>
                            <p class="overlay-genre mb-4" >{{#each movie.genre_ids as |id|}}
                            {{#newGenre id}}  {{/newGenre}}
                            {{/each}}</p>
                                        
                        </div>
                        <img class="image-item" src="{{movie.image}}" alt="">        
                        </div>     
                {{/each}}
                </div>
                <button class="slide-button next-slide-button" id="next-slide-animation"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{/if}}


 
    
    <a href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{nextPage}}">page2</a>รง
            

    </section>

</main>

<script src="scripts/like.js"></script>
<script src="scripts/playlist.js"></script>
<script src="scripts/range.js"></script>
<script src="scripts/trending.js" defer></script>