
   
        {{#if prevPage}}
            <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{prevPage}}">Prev page</a>
        {{/if}}
        {{#if nextPage}}
            <a class="page-btn" href="http://localhost:3000/movies?genre={{query.genre}}&vote_average={{query.vote_average}}&release_date={{query.release_date}}&sortby={{query.sortby}}&order={{query.order}}&action=viewAll&page={{nextPage}}">Next Page</a>
        {{/if}}
    
